* {
	padding:0;
	margin:0;
	box-sizing: border-box;

	font-family: 'Montserrat', sans-serif;

}

body {
	background-color: #999999;
}
.container {
	background-color: white;
	max-width: 1600px;
	overflow-x: hidden;
}

.landingPage1 {
	height: 70vh;
	position: relative;
}
.backdrop {
	position: absolute;
	bottom: 0%;
	right: 0;
	max-height: 500px;
	max-width: 800px; 
	opacity: 1;
}
.about {
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	background-color: #f2f2f2;
	height: 100%;
}
.aboutAvatar {
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 1px solid #333333;
}
img {
    width: 100%;
    height: auto;
}

.landingPage3 {
	min-height: 300px;
	background-color: white;
}

.footer {
	background-color: #333333;
	color: white;
}
#navbar {
	background-color: #333333;
}

.landingPageimg {
		height: 100%;
		width: 100%;
}
a {
	text-decoration: none;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.nav-link {
	color: #b0b0b0;
	font-size: 2em;
}
a:hover {
	color: white;
	text-decoration: none;
	transition-duration: 0.5s;
}

p {
	font-family: 'Montserrat', sans-serif;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
}
h3 {
	font-family: 'Montserrat', sans-serif;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	
}
.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 3em;
	color: #b35900;
}


.btn-1 {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate( -50%, -50%);
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background-color: orange;
	border: 3px solid orange;
}

.btn-danger {
	background-color: #cc2900;
	border-radius: 1px;
}

.btn-danger:hover {
	background-color: #e65c00;
	transition-duration: 0.3s;
}

.btn-1:hover {
	height: 40px;
	width: 40px;
	border: 10px solid orange;
}
.btnHeader {
	min-width: 200px;
	height: 50px;
	border-radius: 3px;
	border: 1px solid #ff3300;
	background-color: #ff3300;
	padding: 0 20px 0 20px;
	color: white;
	font-size: 2em;
}
.btnHeader:hover {
	background-color: #cc2900;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header {
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
	font-weight: 800;
	color: #b35900;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}


.header1 {
	position: absolute;
	top: 50%;
	width: 100%;
	color: black;
	font-size: 2em;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;

}


.logo {
	height: 50px;
	width: 50px;
}



/*for index2*/

.headlines {
	min-height: 500px;
	background-color: white;
	
	}


.finalscore {
	font-size: 1em;
	color: indianred; 

}

li {
	list-style: none;
}



.sidebar {
	background-color:  #4d4d4d;
	color: white;
	opacity: .8;
}


hr {

	background-color: white;
}

.galleryimg {
	width: 150px;
	height: 150px;
}

.galleryimg:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.login {
	border-radius: 2px;
	border: 1px solid #b3b3b3;
	width: 100%;
}
.sing-in-button {
	background-color: #ffcc66;
}
.signup {
	border-radius: 2px;
	border: 1px solid #b3b3b3;
	width: 100%;
}
input {
	height: 40px;
}
.ogleague {
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	background-color: #e6e6e6;
}
.card {
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	background-color: #e6e6e6;
	width: 100%;
}
.card:hover {
	background-color: #d9d9d9;
}
.leagueDetails {	
	color: gray;
	font-size: 2em;
}
#date,
#time{
	border-radius: 5px;
	border: 1px solid #d9d9d9;
}


.tablecontainer {
	background-color: #cccccc;
	color: black;
}
th {
	font-weight: 400;
}
.pastGames li{
	color: white;
}
.pastGames li:hover {
	color: black;
}

a>i[class*=fa-facebook-square]:hover	{
	 transition-duration: 0.5s;
	color: #3B5998 ;
}
a>i[class*=fa-instagram]:hover	{
	 transition-duration: 0.5s;
	color: #ff00ff;
}
a>i[class*=fa-twitter-square]:hover	{
	 transition-duration: 0.5s;
	color: #1DA1F2 ;
}

.container-signup {
	position: relative;
	min-height: 1000px;
}
.sign-up-button {
	font-size: 30px;
	min-width: 200px;
	height: 50px;
	background-color: #ffcc66;
	border-radius: 3px;
	padding: 0 20px 0 20px;
	color: white;
}
.sign-in-button {
	font-size: 30px;
	min-width: 200px;
	height: 50px;
	background-color: #ff8c1a;
	border-radius: 3px;
	padding: 0 20px 0 20px;
	color: white;
}

.puOpen {
	color: #33cc33;
}
.puFull {
	color: #ff471a;
}






























/*// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap*/



/*/ Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.landingPage1 {
	height: 70vh;	
	}
	small {
		font-size:1em;
	}
	h4 {
		font-size:2em;
	}
	td {
		font-size: 25px;
	}
	.archive {
		font-size: 30px;
		text-align: center;
	}
	.finalscore {
	font-size: 2em; 
	}
	th {
		font-size: 30px;
	}
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.landingPage1 {
	height: 70vh;
	}
	p {
		font-size: 30px;
	}
	h2 {
		font-size: 40px;
	}
	small {
		font-size:20px;
	}
	h4 {
		font-size: 40px;
	}
	h3 {
		font-size:2em;
	}
	h6 {
		font-size: 30px;
	}
	.card-title {
		font-size: 30px;
	}
	.lead {
		font-size: 30px;
	}
	
	.btnHeader {
	min-width: 200px;
	height: 30px;
	font-size: 2em;
	}
	.container-games {
		min-height: 85vh;
	}
	.container-login {
		min-height: 85vh;
	}
	
	.btnHeader {
		font-size: 1em;
	}
	th {
		font-size: 20px;
	}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.landingPage1 {
	height: 100vh;
	}
	.nav-link {
	font-size: 1em;
	}
	.header {
		font-size: 8em;
	}
	.navbar-brand {
	font-size: 2em;
	}
	.backdrop {
	position: absolute;
	bottom: 0%;
	right: 0;
	max-height: 400px;
	max-width: 600px; 
	opacity: 1;
	}
	p {
		font-size: 1em;
	}
	small {
		font-size:1em;
	}
	h4 {
		font-size:1em;
	}
	h2 {
		font-size: 1em;
	}
	h3 {
		font-size: 1em;
	}
	.leagueDetails {	
		font-size: 1em;
	}
	.archive {
		font-size: 20px;
	}
	td {
		font-size: 1em;
	}
	.btnHeader {
		font-size: 1em;
	}
	.btn-block {
	font-size: 20px;
	height: 30px;
	}

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
	.landingPage1 {
		height: 100vh;
		position: relative;
	}
	.landingPage2 {
		height: 500px;
	}
	.landingPageimg {
		height: 100%;
		width: 100%;
	}
	.header {
		font-size: 8em;
	}

	.header1 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		font-size: 1.5em;	

	}
	[class*=btn-light] {
		position: absolute;
		top: 90%;
		left: 50%;
	}
	.nav-link {
	font-size: 1em;
	}

	/*index 2*/
	.headlines {
	min-height: 500px;
	background-color: white;
	
	}
	.container-games {
		min-height: 1000px;
	}
	
	.navbar-brand {
	font-size: 2em;
	}
	small {
		font-size:1em;
	}
	.archive {
		font-size: 20px;
	}
	.login {
		max-width: 500px;
	}
	.signup {
		max-width: 500px;
	}
	h2 {
		font-size: 1em;
	}
	
}